<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE config>
<config>
	<params>
		<param type="spacer" default="&lt;b&gt;Global&lt;/b&gt;" />
		<param name="mode" type="list" default="1" label="Distribution" description="">
			<option value="0">Joomla 1.6</option>
			<option value="1">Joomla 1.7</option>
			<option value="2">Molajo</option>
		</param>
		<param name="directory" type="text" default="jupgrade" label="Target Directory" description="" size="20" />
		<param name="prefix_old" type="text" default="jos_" label="Prefix for old database" description="" size="20" />
		<param name="prefix_new" type="text" default="j17_" label="Prefix for new database" description="" size="20" />
		<param type="spacer" default="&lt;b&gt;Skips&lt;/b&gt;" />
		<param name="skip_checks" type="list" default="0" label="Skip checks" description="">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="skip_download" type="list" default="0" label="Skip download" description="">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="skip_decompress" type="list" default="0" label="Skip decompress" description="">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="skip_templates" type="list" default="0" label="Skip templates copy" description="">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="skip_extensions" type="list" default="0" label="Skip 3rd party extensions" description="">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param type="spacer" default="&lt;b&gt;Templates&lt;/b&gt;" />
		<param name="positions" type="list" default="0" label="Keep original positions?" description="">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param type="spacer" default="&lt;b&gt;Debug&lt;/b&gt;" />
		<param name="debug" type="list" default="0" label="Enable debug" description="">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
	</params>
</config>
